@import "../../../ColorVar.module.css";

.app_footer {
    background-color: var(--secondary-bg);
    grid-area: F;
    padding: 5px 5px;
}

.app_footer img {
    width: 30px;
    height: 30px;
}




